{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive-item">
      <div>
          <span>
            <a href="{{ post.url }}" style = "text-decoration-line: none;">{{post.title}}</a>
          </span>
          <small> 
            🗓 {{ post.date | date: " %Y.%m.%d" }}
            {% if site.category_archive.type and post.categories[0] %}
              <a style = "text-decoration-line: none;">{%- include post__taxonomy.html -%}</a>
            {% else if site.tag_archive.type and post.tags[0] %}
              <div style = "text-decoration-line:line-through;">{%- include post__taxonomy.html -%}</div>
            {% endif %}
            {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
          </small>
      </div>
    </article>
</div>
